.App {
  text-align: center;
}

.images{
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

img{
width: 80%;
padding: 13px;
border: 3px solid black;
}

.nav{
  height: 75px;
}

.nav h2{
  margin:0;
  padding:0;
}

#score{
  float:left;
}
.scores{
 float:right;
 width: 20%;
}